
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: greenyellow;
} 
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
}
ul li a:hover{
    text-decoration: underline;
    color: white;
    transition: 0.3s;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

h1{
    font-style: italic;
}