h2{
    color: blue;
    border: 5px solid blue;
    font-size: 100px;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: +0;
    padding: +0;
}

h1{
    color: aqua;
    border: 3px dashed aqua;
    font-size:50px;

    .text{
        color: blueviolet;
        border: 4px dotted blueviolet;
        font-size: 70px;
    }
}
p{
    color: red;
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.green{
    color: green;
}

.lemon{
    color: lime;
    font-size: 50px;

}

.green{
    color: green;
    font-size: 30px;
}
.blue{
    color: blue;
    font-size: 60px;
}
.red{
    color: red;
    font-size: 70px;
}

.purple{
    color: purple;
    font-size: 50px;
}
