*{
margin: 0; 
padding: 0;
font-family: "Playwrite CU Guides", cursive;
}


.container{
     width: 100%;
     height: 100vh;
     background-image: url(/assess/img.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}

