* {
  margin: 0;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo h1 {
  color: blue;
}

.logo h1 span {
  color: gray;
  font-size: 24px;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
nav a:hover {
  color: red;
}
.icon {
  margin-left: 18px;
  font-size: 18px;
  cursor: pointer;
}
.hero {
  width: 100%;
  height: 90vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/fodimage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main{
    font-size: 24px;
    margin: 0;
    font-family: "Dancing Script", cursive;
    text-align: center;
}
.main h1{
    font-size: 4rem;
    font-weight: 600;
    color: rgb(238, 163, 0);
    margin: 0;
}
.main button{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.about-text{
    text-align: center;
    padding: 50px 0;
}
.about-text h2{
  font-size: 2.5rem;
    color: rgb(238, 163, 0);  
    
}
    